@charset "UTF-8";
/* BACKGROUND */
.cmN {
  box-shadow: inset 0 0 0 2px red;
}

html {
  padding: 0;
  margin: 0;
  background: #000;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
  transition: filter 0.25s ease-in-out;
}
body.night {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1064%26quot%3b)' fill='none'%3e%3cpath d='M1512 560L0 560 L0 240.37Q59.64 228.01%2c 72 287.65Q162.35 258%2c 192 348.34Q209.58 293.92%2c 264 311.51Q266.13 241.64%2c 336 243.77Q400.04 235.81%2c 408 299.86Q457.51 277.37%2c 480 326.88Q497.12 272%2c 552 289.11Q593.51 258.62%2c 624 300.13Q701.23 257.36%2c 744 334.59Q750.63 269.21%2c 816 275.84Q869 208.84%2c 936 261.84Q958.71 212.54%2c 1008 235.25Q1075.86 183.11%2c 1128 250.96Q1189.4 240.37%2c 1200 301.77Q1247.72 277.49%2c 1272 325.21Q1313.67 246.88%2c 1392 288.55Q1435.78 212.33%2c 1512 256.1z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 344.28Q26.97 299.25%2c 72 326.22Q170.07 304.3%2c 192 402.37Q202.89 341.26%2c 264 352.15Q315.06 283.2%2c 384 334.26Q443.89 322.15%2c 456 382.04Q535.87 341.9%2c 576 421.77Q580.71 354.48%2c 648 359.19Q687.68 278.88%2c 768 318.56Q860.95 291.51%2c 888 384.47Q935.91 312.38%2c 1008 360.3Q1087.17 319.47%2c 1128 398.64Q1197.64 348.28%2c 1248 417.93Q1263.09 313.02%2c 1368 328.11Q1411.27 299.38%2c 1440 342.65Q1508.84 291.49%2c 1560 360.32z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 439.34Q82.28 401.62%2c 120 483.89Q144.47 436.36%2c 192 460.82Q243.6 392.42%2c 312 444.03Q362.1 422.13%2c 384 472.23Q437.29 405.52%2c 504 458.82Q557.29 440.11%2c 576 493.4Q609.76 407.16%2c 696 440.92Q768.61 393.52%2c 816 466.13Q897.23 427.36%2c 936 508.58Q936.11 436.69%2c 1008 436.79Q1025.12 381.9%2c 1080 399.02Q1149.98 349%2c 1200 418.97Q1278.42 377.39%2c 1320 455.81Q1328.15 391.97%2c 1392 400.12Q1433.14 369.26%2c 1464 410.41z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 584.75Q-9.89 502.86%2c 72 492.96Q134.85 483.81%2c 144 546.67Q189.54 472.21%2c 264 517.76Q289.34 471.1%2c 336 496.44Q394.31 482.75%2c 408 541.05Q456.81 517.86%2c 480 566.67Q521.04 535.71%2c 552 576.75Q563.11 515.86%2c 624 526.96Q668.17 451.13%2c 744 495.31Q771.94 451.25%2c 816 479.2Q898.39 441.6%2c 936 523.99Q1005.35 473.34%2c 1056 542.68Q1133.38 500.07%2c 1176 577.45Q1182.86 512.31%2c 1248 519.16Q1288.68 439.84%2c 1368 480.52Q1434.45 426.97%2c 1488 493.42z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1064'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
body.sleep {
  filter: brightness(0);
  pointer-events: none !important;
  cursor: none !important;
  transition: filter 0.25s ease-in-out;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

input[type=text] {
  border: none;
}

html [type=button] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.075), 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: inherit;
  border: none;
}
html [type=button]:active {
  background: #006AFF;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.2);
}

input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.075), 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateY(2px);
}
input[type=checkbox]:checked {
  background: rgba(255, 255, 255, 0.15);
}
input[type=checkbox]:checked:before {
  opacity: 0.75;
}
input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 2px);
  width: 5px;
  height: 9px;
  border: 2px solid #FFF;
  border-top: none;
  border-left: none;
  transform-origin: center center;
  transform: rotateZ(45deg);
  opacity: 0;
}

a {
  text-decoration: none;
  cursor: default;
  color: inherit;
}

.desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 34px;
  width: 100%;
  height: 100vh;
  user-select: none;
  transform: translate3d(0, 0, 0);
  background: url("https://raw.githubusercontent.com/aboredvaro/codepen_resources/main/macOS/img/bg/abstract/macOS-Big-Sur-Vector-Wave-Wallpaper.jpg");
  background-size: 0px 0px;
}
.desktop:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: inherit;
  background-position: center center;
  background-size: cover;
}

.window {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.5);
  transition: all 0.1s, top 0.1s ease-in-out, left 0.1s ease-in-out, transform 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out, z-index 0ms, box-shadow 0ms;
  z-index: 0;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  border-radius: 10px;
  background: #1e1e1f;
  color: #FFF;
  min-width: 400px;
  min-height: 200px;
  overflow: hidden;
  z-index: 1;
}
.window:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  z-index: 999999;
  pointer-events: none;
}
.window[handler=extended] .window__handler {
  height: 38px;
}
.window[handler=extended] .window__handler .window__title {
  top: 50%;
  transform: translateY(-50%);
}
.window[handler=extended] .window__handler .window__controls {
  top: 50%;
  transform: translateY(-50%) translateX(5px);
}
.window[handler=extended] .window__handler .window__actions {
  top: 50%;
  left: 70px;
  width: calc(100% - 70px);
  transform: translateY(-50%);
}
.window[handler=extended] .window__body {
  height: calc(100% - 38px);
}
.window[resizable=false] {
  transition: all 0.1s, top 0.1s ease-in-out, left 0.1s ease-in-out, transform 0.1s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0ms, box-shadow 0ms;
}
.window[resizable=false] .ui-resizable-handle {
  display: none;
  pointer-events: none;
}
.window[data-windowBackdrop=true] {
  background: none !important;
}
.window[data-windowBackdrop=true]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(30px) saturate(1.5);
  backdrop-filter: blur(30px) saturate(1.5);
  background: #1e1e1f;
  border-radius: 10px;
  z-index: 0;
}
.window.tmp {
  max-width: 75vw;
  max-height: 75vh;
  transition: all 0s;
}
.window.tmp .window__body .window__main .img {
  width: 100%;
  height: calc(100% - 24px);
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.window.window--active {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px black;
}
.window.window--active input[type=checkbox]:checked {
  background: #006AFF;
}
.window.window--active input[type=checkbox]:checked:before {
  opacity: 1;
}
.window.window--active .window__handler:before {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.025));
}
.window.window--active .window__handler .window__title {
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.window.window--active .window__handler .window__actions {
  opacity: 1;
}
.window.window--active .window__handler .window__controls .window__minimize {
  background: #d2d2d2;
}
.window.window--active .window__handler .window__controls .window__maximize {
  background: #65cd57;
}
.window.window--active .window__handler .window__controls .window__close {
  background: #FF5D5A;
}
.window.window--active .window__body .sidebar {
  pointer-events: all;
}
.window.window--active .window__body .sidebar .item, .window.window--active .window__body .sidebar .title {
  opacity: 1;
}
.window.window--active[data-windowBackdrop=true] {
  background: none !important;
}
.window.window--active[data-windowBackdrop=true]:before {
  background: rgba(30, 30, 31, 0.75);
}
.window.ui-draggable-dragging, .window.ui-resizable-resizing {
  transition: 0s;
}

.window--maximized {
  border-radius: 0px;
  width: 100vw !important;
  height: 100vh !important;
  transition: all 0.1s, z-index 0ms;
}
.window--maximized:after {
  border-radius: 0 !important;
}
.window--maximized .window__handler .window__controls .window__maximize::before {
  top: 50%;
  left: calc(50% - 4px);
}
.window--maximized .window__handler .window__controls .window__maximize::after {
  top: calc(50% - 4px);
  left: 50%;
}
.window--maximized .window__handler:before, .window--maximized .window__handler:after {
  border-radius: 0px !important;
}
.window--maximized[data-windowBackdrop=true]:before {
  border-radius: 0px !important;
}
.window--minimized {
  top: 100vh !important;
  transform: scale(0) !important;
  -webkit-transform-origin: center bottom !important;
  -moz-transform-origin: center bottom !important;
  transform-origin: center bottom !important;
  opacity: 0;
  pointer-events: none !important;
  transition: all 0.35s !important;
}

.window--closing {
  transition: 0s;
}
.window--closed {
  display: none;
  transition: 0s;
}

.ui-resizable-se {
  opacity: 0;
}

.window__handler {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  width: 100%;
  cursor: default;
  z-index: 9999;
}
.window__handler:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.05));
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.window__handler .window__title {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.window__handler .window__controls {
  position: relative;
  top: 0;
  display: inline-block;
  height: 24px;
  left: 5px;
  z-index: 1;
}
.window__handler .window__controls:hover .window__minimize::before {
  background: rgba(0, 0, 0, 0.75);
}
.window__handler .window__controls:hover .window__close::before, .window__handler .window__controls:hover .window__close::after {
  background: rgba(0, 0, 0, 0.75);
}
.window__handler .window__controls:hover .window__maximize::before, .window__handler .window__controls:hover .window__maximize::after {
  border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
}
.window__handler .window__controls:hover .window__minimize {
  background: #f5c350;
}
.window__handler .window__controls:hover .window__maximize {
  background: #65cd57;
}
.window__handler .window__controls:hover .window__close {
  background: #FF5D5A;
}
.window__handler .window__controls > a {
  position: relative;
  display: inline-block;
  float: left;
  height: 12px;
  width: 12px;
  margin: 6px 4px;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  overflow: hidden;
}
.window__handler .window__controls > a:active {
  filter: brightness(0.5);
}
.window__handler .window__controls > a::before, .window__handler .window__controls > a::after {
  content: "";
  position: absolute;
  transition: 0.1s;
}
.window__handler .window__controls > a.window__minimize::before {
  width: calc(100% - 4px);
  height: 1px;
  top: 50%;
  left: 2px;
}
.window__handler .window__controls > a.window__maximize::before {
  width: 0;
  height: 0;
  top: calc(50% - 3px);
  left: calc(50% - 1px);
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-color: transparent;
}
.window__handler .window__controls > a.window__maximize::after {
  width: 0;
  height: 0;
  top: calc(50% - 1px);
  left: calc(50% - 3px);
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-color: transparent;
  transform-origin: center center;
  transform: rotateZ(180deg);
}
.window__handler .window__controls > a.window__close::before, .window__handler .window__controls > a.window__close::after {
  width: calc(100% - 4px);
  height: 1px;
  top: 50%;
  left: 2px;
  transform: rotateZ(45deg);
}
.window__handler .window__controls > a.window__close::after {
  transform: rotateZ(-45deg);
}
.window__handler .window__controls > a.disabled {
  background: rgba(255, 255, 255, 0.075) !important;
  pointer-events: none;
}
.window__handler .window__controls > a.disabled:before, .window__handler .window__controls > a.disabled:after {
  opacity: 0;
}
.window__handler .window__actions {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 100%;
  padding: 0 6px;
  opacity: 0.5;
}
.window__handler .window__actions > a {
  position: relative;
  display: inline-block;
  float: left;
  height: 24px;
  width: auto;
  margin: 6px 5px;
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.075), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  line-height: 24px;
  overflow: hidden;
}
.window__handler .window__actions > a:last-child {
  margin-right: 0;
}
.window__handler .window__actions > a.nav {
  width: 36px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 26px;
  margin: 6px 0;
}
.window__handler .window__actions > a.nav.next:before {
  content: "";
}
.window__handler .window__actions > a.nav.prev {
  margin-right: 2px;
}
.window__handler .window__actions > a.nav.prev:before {
  content: "";
}
.window__handler .window__actions > a.nav.home {
  margin-left: 8px;
}
.window__handler .window__actions > a.nav.home:before {
  content: "";
}
.window__handler .window__actions > a.nav:active {
  background: rgba(255, 255, 255, 0.25);
}
.window__handler .window__actions > a.nav.disabled {
  color: rgba(255, 255, 255, 0.2);
}
.window__handler .window__actions > a.nav.disabled:active {
  background: rgba(255, 255, 255, 0.15);
}
.window__handler .window__actions > a.search {
  position: relative;
  float: right;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.15);
}
.window__handler .window__actions > a.search i {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 100%;
}
.window__handler .window__actions > a.search i:before {
  content: "";
}
.window__handler .window__actions > a.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0 8px 0 26px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  outline: 2px solid #006aff;
  transition: outline 0.35s ease-in-out;
}
.window__handler .window__actions > a.search input:focus {
  outline: 2px solid rgba(0, 106, 255, 0.35);
}
.window__handler .window__options {
  position: absolute;
  top: 24px;
  left: 0;
  height: 24px;
  width: 100%;
}
.window__handler .window__options > a.option {
  position: relative;
  display: inline-block;
  float: left;
  height: 100%;
  width: auto;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  line-height: 24px;
}
.window__handler .window__options > a.option:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: 3px;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  transition: 0.1s;
}
.window__handler .window__options > a.option:hover:before {
  left: 10px;
  width: calc(100% - 20px);
}
.window__handler .window__options > a.option.active {
  color: rgba(255, 255, 255, 0.9);
}
.window__handler .window__options > a.option.active:before, .window__handler .window__options > a.option.active:hover:before {
  left: 10px;
  width: calc(100% - 20px);
  background: rgba(255, 255, 255, 0.5);
}
.window__handler .window__options > a.option:hover:before {
  background: rgba(255, 255, 255, 0.15);
}

.window__body {
  height: calc(100% - 24px);
  background-color: #000;
  position: relative;
  display: flex;
  overflow: auto;
  height: 100%;
  font-size: 16px;
}

.window__main {
  flex: 0 1 auto;
  padding: 10px;
  width: 100%;
}
.window__main .list {
  display: block;
  left: 0;
  right: 0;
  padding: 20px;
}
.window__main .list table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
.window__main .list table tr {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.window__main .list table tr:first-child td {
  padding-top: 0px;
}
.window__main .list table tr:first-child td:first-child {
  padding-top: 6px;
}
.window__main .list table tr:last-child {
  border-bottom: none;
}
.window__main .list table tr td {
  vertical-align: top;
  padding: 15px 0;
}
.window__main .list table tr td:first-child {
  display: inline-block;
  float: right;
  text-align: right;
  padding-right: 15px;
  padding-left: 0;
  min-width: 0;
  min-width: 150px !important;
  max-width: 250px !important;
  vertical-align: top;
  padding-top: 20px;
}
.window__main .list .item {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
}
.window__main .list .item.title {
  font-weight: 600;
}
.window__main .list .item .description {
  display: block;
  line-height: 16px;
  margin-left: 24px;
  margin-bottom: 10px;
  pointer-events: none;
  opacity: 0.25;
}
.window__main .list .item.canCheck {
  display: table;
}
.window__main .list .item.canCheck input[type=checkbox] {
  margin-right: 10px;
}
.window__main .list .item.canCheck input[type=checkbox].disabled {
  opacity: 0.25;
  pointer-events: none;
}

@keyframes toFullWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.window__body.black, .window__body.black .window__main {
  background: #000;
}
.window--terminal .window__body .window__main {
  line-height: 24px;
  color: white;
  user-select: text;
  word-wrap: break-word;
  overflow-x: hidden;
}
.window--terminal .window__body .window__main ::-webkit-scrollbar {
  min-width: 10px;
  width: 10px;
  max-width: 10px;
  min-height: 10px;
  height: 10px;
  max-height: 10px;
  background: none;
}
.window--terminal .window__body .window__main ::-webkit-scrollbar-button {
  display: none;
  height: 0px;
}
